
body {
  background-color: #171010;
  overflow-x: hidden;
  background-image: url(../Pictures/coverphoto2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  // background-attachment: fixed;
  padding-top: 20px;
}

p {
  color: #EDE9E8;
}

h4 {
  color: white;
}

/* Navigation bar */

.navbar {
  background: linear-gradient(to bottom, #000000 30%, transparent 100%);
}



.navbar-brand {
  color: White;
  font-size: 1.8rem;
}

.nav-link {
  color: white;
  font-size: 1.4rem;
}

.navbar-toggler {
  color: #EDE9E8;
  border-color: black;
  background-color: #EDE9E8;
}


/* Cover Section */

.firstsection {

  padding-bottom: 2rem;
}

.coversection {
  padding: 0;
  padding-top: 5%;
  text-align: center;
  margin-bottom: 20rem;
}

.coverphoto {
  width: 100%;
  padding: 0;
  margin: 0;
}

.titletext {
  font-family: Lato;
  font-size: 6vw;
  color: #EDE9E8;
}


/* Shop options section */
.middle-section {
  padding: 0.2%;
  padding-bottom: 20%;
  padding-top: 12%;
}

.card {
  border-color: #EDE9E8;
  border-radius: 2%;
  height: 200%;
}

.card-body {
  background-color: #171010;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  border-radius: 2%;
}

.jacket-card {
  background-image: url(../Pictures/jacket-photo.jpg);
}

.pants-card {
  background-image: url(../Pictures/pants-photo.webp);
}

.accessories-card {
  background-image: url(../Pictures/tie-photo.webp);
}

.shoes-card {
  background-image: url(../Pictures/shoes-photo.webp);
}

.card-shop-images {
  width: 20rem;
  border-radius: 2%;
}

@media (max-width: 900px) {
  .card-title {
    text-align: center;
  }

  .card-text {
    text-align: center;
  }

  .card-shop-images {
    display: block;
    margin: auto;
  }

  body {
    background-image: url(../Pictures/coverphoto4.jpg);
  }

  .coversection {
    padding-top: 10%;
    padding-bottom: 20%;
  }
}
