
body {
  background-color: #171010;
}

p {
  color: #EDE9E8;
}

h4 {
  color: white;
}

/* Navigation bar */

.navbar {
  background-color: transparent !important;
}

.navbar-brand {
  color: White;
  font-size: 1.8rem;
}

.nav-link {
  color: white;
  font-size: 1.4rem;
}

.navbar-toggler {
  color: #EDE9E8;
  border-color: black;
  background-color: #EDE9E8;
}


/* Cover Section */

.firstsection {
  background-image: url(../Pictures/coverphoto2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 5rem;
}

.coversection {
  padding: 0;
  text-align: center;
  margin-bottom: 20rem;
}

.coverphoto {
  width: 100%;
  padding: 0;
  margin: 0;
}

.titletext {
  font-family: Lato;
  font-size: 6vw;
  color: #EDE9E8;
}


/* Shop options section */
.middle-section {
  padding: 0.2%;
}

.card {
  border-color: #EDE9E8;
  border-radius: 2%;
  height: 100%;
}

.card-body {
  background-color: #423F3E;
  border-color: #423F3E;
  border-radius: 2%;
}
